@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d6f9ff;
  --foreground: #171717;
}

.dark {
  --background: #02006d;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
